html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;}

/*Start*/

.container {
	margin: 0 auto;
	width: 1000px; 
}

header {
	width: 1000px;
	background-color: #808080;
	color: white;
}

.restulheaderului {
	background-color: #12171e;
	height: 500px;
}

header h1 {
	text-align: center;
	font-size: 40px;
	padding: 15px;
}

header p {
	padding: 10px 70px;
	text-indent: 20px;
	font-size: 20px;

}

header a {
    padding: 10px 365px;
	align-items: center;
}

.buton {
	cursor: pointer;
	margin: 10px 60px;
	width: 150px;
    height: 40px;
    font-size: 13px;
}

.buton:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 45px;
}

.slideshow {
	float: right;
    padding: 46.5px 40px;
    width: 580px;
}

header img {
    height: 300px;
    width: 100%;	
}

.imagine:nth-child(1) {
	display: block;
}

.imagine {
	display: none;
	transition: transform 3s;
}

.imagine:hover {
	transform:scale(1.1);
	cursor:pointer;
}
    
.prev {
  padding: 0 272.5px 0 0;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev:hover {   
	cursor:pointer;
	color: red;
}

.next {
  padding: 0 0 0 272.5px;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next:hover {
    cursor: pointer;
	color: red;
}

.text {
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  text-align: center;
}

.numbertext {
  font-size: 20px;
  padding: 2px 12px;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
    cursor: pointer;
	background-color: red;
}

 header h3 {
 	padding: 70px 0 25px 120px;
	font-size: 32.5px;
 } 

 .active,
 header h3:hover {
 	cursor: pointer;
 	color: red;
 }

 header h4{
 	padding: 10px 0 25px 120px;
	font-size: 32.5px;
}

.active,
 header h4:hover {
 	cursor: pointer;
 	color: red;
 } 

section img {
	width: 1000px;
}